* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: white;
    color: white;
}

table {
    min-width: 500px;
    min-height: 500px;
}

td {
    background: red;
}

button{
position: absolute;
left: 2rem;
top: 2rem;
font-size: 2rem;

}